# Application Port
PORT=3000

# Optional: PostgreSQL Database connection string
# If left empty, the application will fallback to direct API fetching.
DATABASE_URL=""

# Optional: Redis Cache URL
# If left empty, the application will fallback to an in-memory cache.
REDIS_URL=""

# Optional: Data Provider APIs (If you have keys or custom instances)
OPENF1_API="https://api.openf1.org/v1"
MOTOGP_API=""
